@import 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600&display=swap');
@import 'default.scss';
@import 'header.scss';
@import 'home.scss';
@import 'services.scss';
@import 'contact.scss';
@import 'login.scss';
@import 'register.scss';
@import 'products.scss';
@import 'success.scss';
@import 'footer.scss';