:root {
  --main: #FF5B69;
  --second: #743BFC;
  --third:#3E2BD9;
  --white: #FFF;
  --black: #000;
  --bg-gray: #f8f8f8;
  --bg-white:#F8F5FF;
  --green:#69E0A5;
  --gray:#F8F8F8;
  --gray-90:#f8f8f8e8;
  --dark: #CCC4C4;

  --space: 20px;
  --border-radius: 5px;
  
  // Footer
  --bg-footer: #3E2BD9;
  --text-footer: var(--white);
  --text-footer-copyright: #fff;
  
  // Texts
  --text: #8382A1;
  --text-gray: #DCDCDC;
  --dark-text:  #28265C;
}
