@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600&display=swap");
:root {
  --main: #FF5B69;
  --second: #743BFC;
  --third:#3E2BD9;
  --white: #FFF;
  --black: #000;
  --bg-gray: #f8f8f8;
  --bg-white:#F8F5FF;
  --green:#69E0A5;
  --gray:#F8F8F8;
  --gray-90:#f8f8f8e8;
  --dark: #CCC4C4;
  --space: 20px;
  --border-radius: 5px;
  --bg-footer: #3E2BD9;
  --text-footer: var(--white);
  --text-footer-copyright: #fff;
  --text: #8382A1;
  --text-gray: #DCDCDC;
  --dark-text: #28265C;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body, div, article, aside, footer, header, main, nav, section, ul, ol, li, button, figure, picture, hr, form {
  display: flex;
}

body {
  margin: 0;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  font-weight: normal;
  /* .menu-overlay {
    z-index: 0;
    opacity: 0;
    transition: opacity .5s ease-in-out;
  }
  &.open {
      overflow: hidden;
      .menu-overlay {
          opacity: 1;
          position: fixed;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          background-color: var(--main-30);
          z-index: 5;
      }
  } */
}
body a {
  text-decoration: none;
}
body button {
  outline: none;
}
body main {
  background-color: var(--bg-white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 150px;
  position: relative;
}
body main .full-banner-home {
  justify-content: center;
}
body main .wave-blue {
  position: absolute;
  bottom: -10px;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

@media (min-width: 1000px) {
  body main {
    padding-bottom: 250px;
  }
}
@media (min-width: 1500px) {
  body main .wave-blue {
    bottom: -80px;
  }
}
header {
  width: 100%;
  height: 80px;
  position: relative;
  z-index: 2;
}
header .menu {
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
header .menu .logo {
  position: absolute;
  top: calc(80px - 25px);
  transition: all 0.4s ease-in-out;
  right: calc(50vw - 86px);
  z-index: 6;
}
header .menu .logo p {
  margin: 0;
  font-size: 30px;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: var(--white);
  transition: color 0.3s ease-in-out;
}
header .menu .btn-open {
  position: absolute;
  top: var(--space);
  right: var(--space);
  width: 45px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
  z-index: 6;
}
header .menu .btn-open svg {
  width: 40px;
  height: 40px;
}
header .menu .btn-close {
  display: none;
  z-index: 6;
}
header .menu nav {
  list-style: none;
  width: 300px;
  margin: 0;
  height: 100vh;
  background-color: #f8f8f8;
  position: fixed;
  right: -300px;
  top: 0;
  padding-bottom: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: right 0.4s ease-in-out;
  padding: 40px 10px 0;
  z-index: 5;
}
header .menu nav ul {
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0;
  margin: 0;
  padding-top: 28vh;
  overflow-y: auto;
}
header .menu nav ul li {
  align-items: center;
  padding: 2px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
header .menu nav ul li a {
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  color: var(--dark-gray);
  transition: all 0.2s ease-in-out;
}
header .menu nav ul li a:hover {
  opacity: 0.8;
}
header .menu.open .logo {
  right: calc(300px - 238px);
  padding: 40px 0 0;
  margin: 0;
}
header .menu.open .logo p {
  color: var(--main);
}
header .menu.open .btn-open {
  display: none;
}
header .menu.open .btn-close {
  position: absolute;
  top: var(--space);
  right: var(--space);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
}
header .menu.open .btn-close svg {
  width: 50px;
  height: 50px;
}
header .menu.open nav {
  right: 0;
}
header .menu.open nav ul li {
  opacity: 1;
}
header .menu.open nav a#login {
  margin-bottom: 30px;
  background-color: var(--main);
  width: 200px;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  margin-top: auto;
  color: white;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
}

@media (min-width: 768px) {
  header .menu {
    align-items: flex-start;
    justify-content: flex-start;
  }
  header .menu .logo {
    margin-top: 15px;
    margin-left: calc(var(--space) * 2);
    position: initial;
  }
  header .menu .btn-open, header .menu .btn-close {
    display: none;
  }
  header .menu nav {
    height: 80px;
    position: initial;
    align-items: center;
    padding: 0;
    padding: 0 40px;
    background-color: transparent;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  header .menu nav ul {
    max-width: 600px;
    height: 80px;
    justify-content: space-evenly;
    padding: 0;
    background-color: transparent;
    flex-direction: row;
  }
  header .menu nav ul li {
    opacity: 1;
  }
  header .menu nav a#login {
    background-color: var(--main);
    border-radius: var(--border-radius);
    position: initial;
    width: initial;
    transition: all 0.2s ease-in-out;
    color: white;
    padding: 8px 18px;
    text-decoration: none;
  }
  header .menu nav a#login:hover {
    opacity: 0.8;
  }
  header .menu.open .logo {
    margin-left: calc(var(--space) * 2);
    margin-top: 15px;
  }
}
@media (min-width: 1500px) {
  header .menu {
    margin: 0 calc(var(--space) * 6);
  }
}
@media (max-width: 340px) {
  header .menu .logo {
    right: calc(50vw - 72px);
  }
  header .menu .logo p {
    font-size: 25px;
  }
  header .menu .btn-open svg {
    width: 35px;
  }
}
#home {
  flex-direction: column;
}
#home .full-banner-home {
  width: 100%;
  position: relative;
  background-image: linear-gradient(to right bottom, #743bfc, #6737f3, #5a33eb, #4d2fe2, #3e2bd9);
  margin-top: -80px;
  height: 100vh;
  min-height: 800px;
  overflow: hidden;
}
#home .full-banner-home .hero {
  margin-top: 80px;
  flex-direction: column;
  padding: var(--space);
  width: 100%;
}
#home .full-banner-home .hero .hero-text {
  flex-direction: column;
  align-items: center;
  margin-top: calc(var(--space) * 2);
}
#home .full-banner-home .hero .hero-text .title {
  flex-direction: column;
  text-align: center;
}
#home .full-banner-home .hero .hero-text .title h1 {
  color: var(--white);
  font-size: 28px;
}
#home .full-banner-home .hero .hero-text .title p {
  color: var(--text-gray);
  font-size: 18px;
  margin-top: 0;
}
#home .full-banner-home .hero .hero-text .buttons {
  width: 100%;
  justify-content: center;
}
#home .full-banner-home .hero .hero-text .buttons a {
  background-color: var(--main);
  padding: 8px 12px;
  text-decoration: none;
  color: var(--white);
  border-radius: var(--border-radius);
  transition: opacity 0.3s ease-in-out;
}
#home .full-banner-home .hero .hero-text .buttons a:hover {
  opacity: 0.8;
}
#home .full-banner-home .hero .hero-text .buttons a + a {
  background-color: transparent;
  margin-left: var(--space);
  border: 1px solid var(--white);
  transition: all 0.3s ease-in-out;
}
#home .full-banner-home .hero .hero-text .buttons a + a:hover {
  background-color: var(--main);
  border-color: var(--main);
  opacity: 1;
}
#home .full-banner-home .hero .image {
  margin-top: calc(var(--space) * 3);
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
#home .full-banner-home .hero .image img {
  width: 100%;
}
#home .full-banner-home .wave-white {
  position: absolute;
  bottom: -2px;
  right: 0;
  left: 0;
  width: 100%;
}
#home .service-home {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#home .service-home .text {
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: var(--space);
}
#home .service-home .text h2 {
  font-size: 30px;
  color: var(--main);
  margin-bottom: 10px;
}
#home .service-home .text p {
  color: var(--text);
  max-width: 500px;
}
#home .service-home .text a {
  background-color: var(--main);
  padding: 8px 12px;
  text-decoration: none;
  color: var(--white);
  border-radius: var(--border-radius);
  transition: opacity 0.3s ease-in-out;
}
#home .service-home .text a:hover {
  opacity: 0.8;
}
#home .service-home .image {
  max-width: 400px;
  margin-top: calc(var(--space) * 2);
}
#home .service-home .image img {
  width: 100%;
}
#home .service-home#review .image {
  max-width: 350px;
}
#home .about-home {
  flex-direction: column;
  padding: var(--space);
  padding-top: calc(var(--space) * 3);
  justify-content: center;
}
#home .about-home .first {
  flex-direction: column;
  width: 100%;
}
#home .about-home .first .text {
  flex-direction: column;
  text-align: center;
}
#home .about-home .first .text h3 {
  font-size: 34px;
  color: var(--dark-text);
  margin-bottom: 5px;
}
#home .about-home .first .text p {
  margin: 10px var(--space);
  color: var(--text);
}
#home .about-home .first hr {
  margin: 10px calc(var(--space) * 2);
}
#home .about-home .first .button {
  align-items: center;
  justify-content: center;
}
#home .about-home .first .button a {
  color: var(--main);
  font-size: 14px;
  margin: 5px 0;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}
#home .about-home .first .button a:hover {
  opacity: 0.8;
}
#home .about-home .first .button img {
  width: 7px;
  margin: 2px 5px 0;
}
#home .about-home .second {
  flex-direction: column;
  margin-top: var(--space);
}
#home .about-home .second .cards {
  flex-direction: column;
  margin-top: var(--space);
}
#home .about-home .second .cards .card {
  margin-bottom: var(--space);
}
#home .about-home .second .cards .card .block {
  width: 74px;
  height: 75px;
  background-color: var(--second);
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
#home .about-home .second .cards .card .block img {
  width: 30px;
}
#home .about-home .second .cards .card .text {
  flex: 1;
  flex-direction: column;
  margin-left: var(--space);
}
#home .about-home .second .cards .card .text h4 {
  font-size: 20px;
  margin: 0;
  color: var(--dark-text);
}
#home .about-home .second .cards .card .text p {
  font-size: 14px;
  margin: 4px 0;
}

@media (min-width: 550px) {
  #home .full-banner-home .hero .hero-text {
    margin: calc(var(--space) * 2);
    margin-bottom: 0;
  }
  #home .full-banner-home .hero .image {
    max-width: 450px;
    margin: calc(var(--space) * 3) auto;
  }
  #home .about-home .second {
    padding: 0 var(--space);
  }
}
@media (min-width: 768px) {
  #home .about-home {
    align-items: center;
  }
  #home .about-home .first, #home .about-home .second {
    max-width: 600px;
  }
}
@media (min-width: 900px) {
  #home .service-home {
    flex-direction: row-reverse;
  }
  #home .service-home#oil {
    flex-direction: row;
  }
  #home .service-home#oil .text {
    text-align: left;
    align-items: flex-start;
  }
  #home .service-home .text {
    text-align: right;
    align-items: flex-end;
  }
  #home .service-home .image {
    max-width: 350px;
  }
}
@media (min-width: 1000px) {
  #home .about-home {
    flex-direction: row;
    align-items: flex-start;
  }
  #home .about-home .first {
    margin-left: var(--space);
  }
  #home .about-home .first .text {
    text-align: left;
  }
  #home .about-home .first .text p {
    margin-left: 0;
  }
  #home .about-home .first hr {
    margin-left: 0;
  }
  #home .about-home .first .button {
    justify-content: flex-start;
  }
}
@media (min-width: 1200px) {
  #home .full-banner-home {
    min-height: initial;
  }
  #home .full-banner-home .hero {
    flex-direction: row;
  }
  #home .full-banner-home .hero .hero-text .title {
    text-align: left;
  }
  #home .full-banner-home .hero .hero-text .title h1 {
    font-size: 46px;
    max-width: 600px;
    margin-bottom: 15px;
  }
  #home .full-banner-home .hero .hero-text .title p {
    width: 500px;
    font-size: 19px;
  }
  #home .full-banner-home .hero .hero-text .buttons {
    margin-top: 5x;
    justify-content: flex-start;
  }
  #home .full-banner-home .hero .hero-text .buttons a {
    padding: 10px 18px;
    font-size: 17px;
  }
  #home .full-banner-home .hero .hero-text .buttons a + a {
    margin-left: calc((var(--space) * 2) / 1.5);
  }
  #home .full-banner-home .hero .image {
    width: 650px;
    max-width: initial;
  }
  #home .full-banner-home .hero .image img {
    width: 650px;
  }
  #home .service-home {
    justify-content: space-around;
  }
  #home .service-home#review .text h2 {
    max-width: 600px;
  }
  #home .service-home .text h2 {
    font-size: 45px;
  }
  #home .service-home .text p {
    font-size: 19px;
    margin-top: 5px;
  }
  #home .service-home .text a {
    padding: 10px 18px;
    font-size: 17px;
  }
  #home .service-home .image {
    max-width: 550px;
  }
  #home .about-home .first .text h3 {
    font-size: 38px;
  }
  #home .about-home .first .text p {
    font-size: 20px;
  }
}
@media (min-width: 1500px) {
  #home .full-banner-home .hero .hero-text {
    margin-left: calc(var(--space) * 6);
  }
  #home .full-banner-home .hero .hero-text .title h1 {
    font-size: 50px;
  }
  #home .service-home {
    max-width: 1200px;
  }
  #home .about-home {
    max-width: 1200px;
  }
}
@media (min-width: 1800px) {
  #home .full-banner-home .hero {
    max-width: 1200px;
  }
  #home .full-banner-home .hero .hero-text {
    margin-left: 0;
  }
}
#services-header .menu nav a#login {
  background-color: var(--second);
}

#services {
  flex-direction: column;
  padding-bottom: 0;
}
#services .full-banner-services {
  background-image: linear-gradient(to right bottom, #ff5b69, #fd616e, #fb6773, #f86d78, #f6727d);
  width: 100%;
  position: relative;
  margin-top: -80px;
  height: 100vh;
  min-height: 800px;
  overflow: hidden;
}
#services .full-banner-services .hero {
  margin-top: 80px;
  flex-direction: column;
  padding: var(--space);
  width: 100%;
}
#services .full-banner-services .hero .hero-text {
  flex-direction: column;
  align-items: center;
  margin-top: calc(var(--space) * 2);
}
#services .full-banner-services .hero .hero-text .title {
  flex-direction: column;
  text-align: center;
}
#services .full-banner-services .hero .hero-text .title h1 {
  color: var(--white);
  font-size: 28px;
}
#services .full-banner-services .hero .hero-text .title p {
  color: var(--text-gray);
  font-size: 18px;
  margin-top: 0;
}
#services .full-banner-services .hero .hero-text .buttons {
  width: 100%;
  justify-content: center;
}
#services .full-banner-services .hero .hero-text .buttons a {
  background-color: var(--second);
  padding: 8px 12px;
  text-decoration: none;
  color: var(--white);
  border-radius: var(--border-radius);
}
#services .full-banner-services .hero .hero-text .buttons a + a {
  background-color: transparent;
  margin-left: var(--space);
  border: 1px solid var(--white);
}
#services .full-banner-services .hero .image {
  margin-top: var(--space);
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 4;
}
#services .full-banner-services .hero .image img {
  width: 100%;
}
#services .full-banner-services .wave-white {
  position: absolute;
  bottom: -2px;
  right: 0;
  left: 0;
  width: 100%;
}
#services .services-all {
  flex-direction: column;
  padding: var(--space);
  padding-top: 0;
  width: 100%;
  margin-top: calc(var(--space) * 2);
  align-items: center;
  position: relative;
}
#services .services-all .wave-gray {
  position: absolute;
  bottom: -5px;
  right: 0;
  left: 0;
  width: 100%;
}
#services .services-all .container {
  flex-direction: column;
  margin: var(--space);
  margin-top: 0;
  padding: var(--space);
  background-color: var(--white);
  border-radius: var(--border-radius);
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  z-index: 2;
}
#services .services-all .container .text {
  flex-direction: column;
  align-items: center;
  padding: 0 var(--space);
  max-width: 600px;
}
#services .services-all .container .text h2 {
  color: var(--dark-text);
  font-size: 30px;
  margin-bottom: 5px;
}
#services .services-all .container .text p {
  font-size: 16px;
  color: var(--text);
  text-align: center;
}
#services .services-all .container .icons {
  margin-top: var(--space);
  display: grid;
  grid-template-columns: 1fr;
  gap: 0 var(--space);
}
#services .services-all .container .icons .icon {
  width: 100%;
  margin-bottom: calc(var(--space) / 2);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  padding: 0 0 var(--space);
}
#services .services-all .container .icons .icon .image {
  width: 50px;
  height: 50px;
  background-color: var(--main);
  border-radius: var(--border-radius);
  align-items: center;
  justify-content: center;
  margin-right: var(--space);
}
#services .services-all .container .icons .icon .image img {
  width: 30px;
  height: 30px;
}
#services .services-all .container .icons .icon p {
  font-size: 16px;
  color: var(--dark-text);
  text-align: center;
}
#services .services-all .container .icons .icon:hover {
  background-color: var(--bg-gray);
}
#services .schedule {
  width: 100%;
  background-color: #dcdcdc;
  padding: var(--space);
  align-items: center;
  justify-content: center;
  padding-bottom: 250px;
}
#services .schedule form {
  max-width: 1000px;
  width: 1000px;
  flex-direction: column;
  padding: var(--space);
  background-color: var(--main);
  border-radius: var(--border-radius);
  z-index: 4;
}
#services .schedule form .text {
  flex-direction: column;
}
#services .schedule form .text h3 {
  font-size: 32px;
  color: var(--white);
  margin-bottom: 5px;
  margin-top: 0;
}
#services .schedule form .text p {
  color: var(--bg-white);
  margin-top: 5px;
}
#services .schedule form .fields {
  flex-direction: column;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space);
  margin-top: var(--space);
}
#services .schedule form .fields .wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 var(--space);
}
#services .schedule form .fields .field {
  position: relative;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
#services .schedule form .fields .field label {
  position: absolute;
  font-size: 18px;
  top: 15px;
  transition: 0.2s all ease-in-out;
  color: var(--text-gray);
  margin-left: 10px;
}
#services .schedule form .fields .field label.no-text {
  top: 5px;
  font-size: 14px;
}
#services .schedule form .fields .field input, #services .schedule form .fields .field textarea {
  border: 1px solid var(--white);
  width: 100%;
  padding: 15px 10px 0;
  line-height: 2em;
  font-size: 18px;
  outline: none;
  color: var(--text-gray);
  font-weight: bold;
  transition: 0.2s all;
  background-color: transparent;
  border-radius: var(--border-radius);
}
#services .schedule form .fields .field input:valid + label, #services .schedule form .fields .field input:focus + label, #services .schedule form .fields .field textarea:valid + label, #services .schedule form .fields .field textarea:focus + label {
  top: 5px;
  font-size: 14px;
}
#services .schedule form .fields .field input[type=date]::-webkit-calendar-picker-indicator, #services .schedule form .fields .field textarea[type=date]::-webkit-calendar-picker-indicator {
  display: none;
}
#services .schedule form .fields .field input[type=time]::-webkit-calendar-picker-indicator, #services .schedule form .fields .field textarea[type=time]::-webkit-calendar-picker-indicator {
  display: none;
}
#services .schedule form .fields .field textarea {
  resize: vertical;
  height: 53px;
}
#services .schedule form .fields .field textarea:valid, #services .schedule form .fields .field textarea:focus {
  line-height: 1em;
}
#services .schedule form .fields .field textarea:valid + label, #services .schedule form .fields .field textarea:focus + label {
  display: none;
}
#services .schedule form .fields .button {
  width: 100%;
  align-items: flex-end;
  margin-bottom: 20px;
}
#services .schedule form .fields .button button {
  padding: 5px;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  height: 53px;
  margin: 0;
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--white);
  color: var(--main);
  border: 1px solid var(--white);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  outline: none;
  opacity: 0.8;
}
#services .schedule form .fields .button button:hover {
  opacity: 1;
}

@media (min-width: 500px) {
  #services .full-banner-services .hero .hero-text {
    max-width: 610px;
    margin: calc(var(--space) * 2) auto 0;
  }
  #services .full-banner-services .hero .image {
    max-width: 450px;
    margin: var(--space) auto;
  }
  #services .services-all .container .icons .icon {
    flex-direction: row;
    padding: initial;
    padding-right: var(--space);
  }
}
@media (min-width: 800px) {
  #services .schedule form .fields {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1000px) {
  #services .full-banner-services .hero {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  #services .full-banner-services .hero .hero-text {
    padding: 0 0 calc(var(--space) * 6);
    margin: 0;
  }
  #services .full-banner-services .hero .hero-text .title {
    text-align: left;
  }
  #services .full-banner-services .hero .hero-text .title h1 {
    font-size: 46px;
    max-width: 600px;
    margin-bottom: 15px;
  }
  #services .full-banner-services .hero .hero-text .title p {
    width: 500px;
    font-size: 19px;
  }
  #services .full-banner-services .hero .hero-text .buttons {
    margin-top: 5x;
    justify-content: flex-start;
  }
  #services .full-banner-services .hero .hero-text .buttons a {
    padding: 10px 18px;
    font-size: 17px;
  }
  #services .full-banner-services .hero .hero-text .buttons a + a {
    margin-left: calc((var(--space) * 2) / 1.5);
  }
  #services .full-banner-services .hero .image {
    width: 500px;
    max-width: initial;
    margin: 0;
  }
  #services .full-banner-services .hero .image img {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  #services .full-banner-services .hero .image {
    width: 650px;
  }
}
@media (min-width: 1200px) {
  #services .services-all .container {
    max-width: 1000px;
    width: 1000px;
  }
  #services .services-all .container .text {
    max-width: 800px;
  }
  #services .services-all .container .icons {
    grid-template-columns: 1fr 1fr;
  }
}
#contact-header .menu nav a#login {
  background-color: var(--second);
}

#contact {
  width: 100%;
  position: relative;
  background-image: linear-gradient(to right bottom, #ff5b69, #fd616e, #fb6773, #f86d78, #f6727d);
  margin-top: -80px;
  height: 100vh;
  min-height: 800px;
  padding: var(--space);
  padding-top: 0;
  align-items: center;
  justify-content: center;
  padding-top: 300px;
}
#contact .contact-section {
  margin: var(--space);
  z-index: 1;
  margin-bottom: 200px;
}
#contact .contact-section form {
  flex-direction: column;
  border-radius: var(--border-radius);
}
#contact .contact-section form .text {
  flex-direction: column;
  margin-bottom: vaR(--space);
}
#contact .contact-section form .text h1 {
  font-size: 30px;
  color: var(--white);
  margin: 0;
}
#contact .contact-section form .text p {
  font-size: 16px;
  color: var(--bg-white);
}
#contact .contact-section form .fields {
  display: grid;
  grid-template-columns: 1fr;
}
#contact .contact-section form .fields .field {
  position: relative;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
#contact .contact-section form .fields .field label {
  position: absolute;
  font-size: 18px;
  top: 15px;
  transition: 0.2s all ease-in-out;
  color: var(--white);
  margin-left: 10px;
}
#contact .contact-section form .fields .field label.no-text {
  top: 5px;
  font-size: 14px;
}
#contact .contact-section form .fields .field input, #contact .contact-section form .fields .field textarea {
  border: 1px solid var(--white);
  width: 100%;
  padding: 15px 10px 0;
  line-height: 2em;
  font-size: 18px;
  outline: none;
  color: var(--bg-white);
  font-weight: bold;
  transition: 0.2s all;
  background-color: transparent;
  border-radius: var(--border-radius);
}
#contact .contact-section form .fields .field input:valid + label, #contact .contact-section form .fields .field input:focus + label, #contact .contact-section form .fields .field textarea:valid + label, #contact .contact-section form .fields .field textarea:focus + label {
  top: 5px;
  font-size: 14px;
}
#contact .contact-section form .fields .field input[type=date]::-webkit-calendar-picker-indicator, #contact .contact-section form .fields .field textarea[type=date]::-webkit-calendar-picker-indicator {
  display: none;
}
#contact .contact-section form .fields .field input[type=time]::-webkit-calendar-picker-indicator, #contact .contact-section form .fields .field textarea[type=time]::-webkit-calendar-picker-indicator {
  display: none;
}
#contact .contact-section form .fields .field textarea {
  resize: vertical;
  height: 150px;
}
#contact .contact-section form .fields .field textarea:valid, #contact .contact-section form .fields .field textarea:focus {
  line-height: 1em;
}
#contact .contact-section form .fields .field textarea:valid + label, #contact .contact-section form .fields .field textarea:focus + label {
  display: none;
}
#contact .contact-section form .fields .button {
  height: 45px;
}
#contact .contact-section form .fields .button button {
  height: 45px;
  background-color: var(--bg-white);
  border: none;
  padding: 5px 25px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: var(--border-radius);
  color: var(--main);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}
#contact .contact-section form .fields .button button:hover {
  opacity: 0.8;
}

@media (min-width: 768px) {
  #contact .contact-section form .text h1 {
    font-size: 35px;
  }
  #contact .contact-section form .text p {
    font-size: 18px;
  }
}
@media (min-width: 1400px) {
  #contact {
    padding-top: 200px;
  }
  #contact .contact-section form .text h1 {
    font-size: 40px;
  }
  #contact .contact-section form .text p {
    font-size: 20px;
  }
}
#login-header .menu .logo p {
  color: var(--main);
}
#login-header .menu nav ul li a {
  color: var(--main);
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}
#login-header .menu nav ul li a:hover {
  opacity: 1;
}
#login-header .menu nav a#login {
  background-color: var(--second);
}

.login-page {
  width: 100%;
  position: relative;
  background-image: linear-gradient(to right bottom, #ffffff, #fdfdff, #fbfaff, #faf8ff, #f8f5ff);
  margin-top: -80px;
  height: 100vh;
  min-height: 800px;
  padding: var(--space);
  padding-top: 0;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
}
.login-page .login-section {
  margin: var(--space);
  z-index: 1;
  margin-bottom: 200px;
}
.login-page .login-section form {
  flex-direction: column;
  border-radius: var(--border-radius);
}
.login-page .login-section form .text {
  flex-direction: column;
  margin-bottom: vaR(--space);
}
.login-page .login-section form .text h1 {
  font-size: 30px;
  color: var(--second);
  margin: 0;
}
.login-page .login-section form .text p {
  font-size: 16px;
  color: var(--text);
}
.login-page .login-section form .fields {
  display: grid;
  grid-template-columns: 1fr;
}
.login-page .login-section form .fields .field {
  position: relative;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
.login-page .login-section form .fields .field label {
  position: absolute;
  font-size: 18px;
  top: 15px;
  transition: 0.2s all ease-in-out;
  color: var(--second);
  margin-left: 10px;
}
.login-page .login-section form .fields .field label.no-text {
  top: 5px;
  font-size: 14px;
}
.login-page .login-section form .fields .field input {
  border: 1px solid var(--second);
  width: 100%;
  padding: 15px 10px 0;
  line-height: 2em;
  font-size: 18px;
  outline: none;
  color: var(--text);
  font-weight: bold;
  transition: 0.2s all;
  background-color: transparent;
  border-radius: var(--border-radius);
}
.login-page .login-section form .fields .field input:valid + label, .login-page .login-section form .fields .field input:focus + label {
  top: 5px;
  font-size: 14px;
}
.login-page .login-section form .fields .field input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
}
.login-page .login-section form .fields .field input[type=time]::-webkit-calendar-picker-indicator {
  display: none;
}
.login-page .login-section form .fields .field textarea {
  resize: vertical;
  height: 150px;
}
.login-page .login-section form .fields .field textarea:valid, .login-page .login-section form .fields .field textarea:focus {
  line-height: 1em;
}
.login-page .login-section form .fields .field textarea:valid + label, .login-page .login-section form .fields .field textarea:focus + label {
  display: none;
}
.login-page .login-section form .fields .button {
  height: 45px;
}
.login-page .login-section form .fields .button button {
  height: 45px;
  background-color: var(--second);
  border: none;
  padding: 5px 25px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: var(--border-radius);
  color: var(--white);
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}
.login-page .login-section form .fields .button button:hover {
  opacity: 1;
}

@media (min-width: 768px) {
  #contact .contact-section form .text h1 {
    font-size: 35px;
  }
  #contact .contact-section form .text p {
    font-size: 18px;
  }
}
@media (min-width: 1400px) {
  #contact {
    padding-top: 200px;
  }
  #contact .contact-section form .text h1 {
    font-size: 40px;
  }
  #contact .contact-section form .text p {
    font-size: 20px;
  }
}
#register {
  padding-top: 220px;
}

#products {
  flex-direction: column;
}
#products .full-banner-products {
  width: 100%;
  position: relative;
  background-image: linear-gradient(to right bottom, #743bfc, #6737f3, #5a33eb, #4d2fe2, #3e2bd9);
  margin-top: -80px;
  height: 100vh;
  min-height: 800px;
  overflow: hidden;
  justify-content: center;
}
#products .full-banner-products .hero {
  margin-top: 80px;
  flex-direction: column;
  padding: var(--space);
  width: 100%;
}
#products .full-banner-products .hero .hero-text {
  flex-direction: column;
  align-items: center;
  margin-top: calc(var(--space) * 2);
}
#products .full-banner-products .hero .hero-text .title {
  flex-direction: column;
  text-align: center;
}
#products .full-banner-products .hero .hero-text .title h1 {
  color: var(--white);
  font-size: 28px;
}
#products .full-banner-products .hero .hero-text .title p {
  color: var(--text-gray);
  font-size: 18px;
  margin-top: 0;
}
#products .full-banner-products .hero .hero-text .buttons {
  width: 100%;
  justify-content: center;
}
#products .full-banner-products .hero .hero-text .buttons a {
  background-color: var(--main);
  padding: 8px 12px;
  text-decoration: none;
  color: var(--white);
  border-radius: var(--border-radius);
  transition: opacity 0.3s ease-in-out;
}
#products .full-banner-products .hero .hero-text .buttons a:hover {
  opacity: 0.8;
}
#products .full-banner-products .hero .hero-text .buttons a + a {
  background-color: transparent;
  margin-left: var(--space);
  border: 1px solid var(--white);
  transition: all 0.3s ease-in-out;
}
#products .full-banner-products .hero .hero-text .buttons a + a:hover {
  background-color: var(--main);
  border-color: var(--main);
  opacity: 1;
}
#products .full-banner-products .hero .image {
  margin-top: calc(var(--space) * 3);
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
#products .full-banner-products .hero .image img {
  width: 100%;
}
#products .full-banner-products .wave-white {
  position: absolute;
  bottom: -2px;
  right: 0;
  left: 0;
  width: 100%;
}
#products .products-section {
  margin: var(--space);
}
#products .products-section .all {
  display: grid;
  grid-template-columns: 1fr;
}
#products .products-section .all .product {
  padding: var(--space);
  flex-direction: column;
  border-radius: var(--border-radius);
  transition: background-color 0.2s ease-in-out;
  margin-bottom: calc(var(--space) / 2);
}
#products .products-section .all .product:hover {
  background-color: #ededed;
}
#products .products-section .all .product .title .image {
  width: 70px;
  min-width: 70px;
  height: 70px;
  background-color: var(--main);
  border-radius: var(--border-radius);
  margin-right: var(--space);
  align-items: center;
  justify-content: center;
}
#products .products-section .all .product .title .image img {
  height: 40px;
  width: 40px;
}
#products .products-section .all .product .title h2 {
  color: var(--dark-text);
  font-size: 20px;
}
#products .products-section .all .product p {
  color: var(--text);
  font-size: 16px;
}
#products .products-section .all .product a {
  color: var(--second);
  transition: color 0.2s ease-in-out;
  margin-right: auto;
}
#products .products-section .all .product a:hover {
  color: var(--third);
}

@media (min-width: 550px) {
  #products .full-banner-products .hero .hero-text {
    margin: calc(var(--space) * 2);
    margin-bottom: 0;
  }
  #products .full-banner-products .hero .image {
    max-width: 450px;
    margin: calc(var(--space) * 3) auto;
  }
}
@media (min-width: 768px) {
  #products .products-section .all {
    grid-template-columns: 1fr 1fr;
    gap: 0 var(--space);
  }
}
@media (min-width: 1200px) {
  #products .full-banner-products {
    min-height: initial;
  }
  #products .full-banner-products .hero {
    flex-direction: row;
  }
  #products .full-banner-products .hero .hero-text .title {
    text-align: left;
  }
  #products .full-banner-products .hero .hero-text .title h1 {
    font-size: 46px;
    max-width: 600px;
    margin-bottom: 15px;
  }
  #products .full-banner-products .hero .hero-text .title p {
    width: 500px;
    font-size: 19px;
  }
  #products .full-banner-products .hero .hero-text .buttons {
    margin-top: 5x;
    justify-content: flex-start;
  }
  #products .full-banner-products .hero .hero-text .buttons a {
    padding: 10px 18px;
    font-size: 17px;
  }
  #products .full-banner-products .hero .hero-text .buttons a + a {
    margin-left: calc((var(--space) * 2) / 1.5);
  }
  #products .full-banner-products .hero .image {
    width: 650px;
    max-width: initial;
  }
  #products .full-banner-products .hero .image img {
    width: 650px;
  }
  #products .products-section .all {
    max-width: 1200px;
  }
}
@media (min-width: 1500px) {
  #products .full-banner-products .hero .hero-text {
    margin-left: calc(var(--space) * 6);
  }
  #products .full-banner-products .hero .hero-text .title h1 {
    font-size: 50px;
  }
}
@media (min-width: 1800px) {
  #products .full-banner-products .hero {
    max-width: 1200px;
  }
  #products .full-banner-products .hero .hero-text {
    margin-left: 0;
  }
}
#success-header .menu .logo p {
  color: var(--main);
}
#success-header .menu nav ul li a {
  color: var(--main);
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}
#success-header .menu nav ul li a:hover {
  opacity: 1;
}
#success-header .menu nav a#login {
  background-color: var(--second);
}

#success {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right bottom, #ffffff, #fdfdff, #fbfaff, #faf8ff, #f8f5ff);
}
#success section {
  margin: var(---space);
}
#success section .text {
  align-items: center;
}
#success section .text h1 {
  text-align: center;
  color: var(--text);
  font-size: 30px;
}
#success section .text h1 strong {
  color: var(--main);
}

@media (min-width: 900px) {
  #success section .text h1 {
    font-size: 50px;
  }
}
footer {
  width: 100%;
  position: relative;
  padding: 0 var(--space);
  justify-content: center;
  background: var(--third);
}
footer .arrow-up {
  position: absolute;
  background-color: var(--main);
  top: -20px;
  right: var(--space);
  width: 50px;
  height: 50px;
  z-index: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .arrow-up img {
  width: 30px;
  height: 30px;
}
footer .container {
  flex-direction: column;
  width: 100%;
  z-index: 1;
  height: 250px;
  background: transparent;
  justify-content: space-between;
  padding: 0 var(--space);
}
footer .container .text {
  align-items: center;
  text-align: center;
  flex-direction: column;
}
footer .container .text h5 {
  font-size: 35px;
  margin: 0;
  color: var(--white);
}
footer .container .text ul {
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}
footer .container .text ul li {
  margin: 0 10px;
}
footer .container .text ul li a {
  color: var(--text-gray);
  text-decoration: none;
}
footer .container .copyright {
  margin-bottom: var(--space);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .container .copyright p {
  color: var(--text-gray);
  opacity: 0.8;
}
footer .container .copyright img {
  width: 40px;
}
footer .container .copyright img + img {
  margin-left: var(--space);
}

@media (min-width: 768px) {
  footer .container .copyright {
    flex-direction: row;
    justify-content: space-between;
  }
  footer .arrow-up {
    position: absolute;
    background-color: var(--main);
    top: -100px;
    right: var(--space);
    width: 60px;
    height: 60px;
    z-index: 3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer .arrow-up img {
    width: 35px;
    height: 35px;
  }
}
@media (min-width: 900px) {
  footer .container .copyright {
    margin: 0 calc(var(--space) * 2) var(--space);
  }
}
@media (min-width: 1200px) {
  footer .container {
    max-width: 1200px;
  }
}

/*# sourceMappingURL=main.css.map */
